body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr;
  color: white;
}

header {
  padding: 20px;
  background-color: rgb(135, 80, 4);
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 70px;
  width: 75px;
  margin: 0;
  padding: 0%;
}
.app-container {
  display: flex;
  justify-content: right;
  flex-direction: column;
  border: 10px double rgb(135, 80, 4);
  height: 50vh;
  width: 30%;
  margin-left: 30%;
  margin-top: 20%;
  width: clamp(20%, 50%, 60%);
}
.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.count {
  display: flex;
  justify-content: center;
  gap: 5%;
  color: rgb(135, 80, 4);
}

#count {
  font-size: 3rem;
  font-weight: bold;
}

.stars {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}
